@model BuberBreakfast.DTO.BreakFastDto
<div>
    <table class="table table-bordered table-primary 6able-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>FirstName</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.BreakFastId</td>
                <td>@Model.Name</td>
                <td>@Model.Description</td>
            </tr>

        </tbody>
    </table>

</div>
